.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

.navbar.transparent {
  background-color: transparent;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

.navbar.black {
  background-color: black;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

.navbar .item {
  font-family: "Sora", sans-serif;
  color: white;
  text-decoration: none;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.75s;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.1em;
  cursor: pointer;
}

.navbar .item.black {
  color: black;
}

.navbar .item:hover {
  color: #ffc107;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.75s;
}

.navbar-line {
  border-bottom: 1px solid white;
  width: 20%;
}

@media only screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .item {
    margin: 5px;
  }
}
